TEMA11/Ejemplo5/concesionario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="concesionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coche" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string"></xs:element>
                            <xs:element name="modelo" type="xs:string"></xs:element>
                            <xs:choice>
                                <xs:element name="cilindrada" type="xs:decimal"></xs:element>
                                <xs:element name="caballos" type="xs:decimal"></xs:element>
                            </xs:choice>
                            <xs:element name="combustible" type="tipocombustible"></xs:element>
                            <xs:element name="precio" type="xs:string"></xs:element>
                            <xs:element name="año" type="xs:unsignedShort" minOccurs="0"></xs:element>
                            <xs:element name="color" type="xs:string"></xs:element>
                            <xs:element name="interesado" type="tipodni" minOccurs="0" maxOccurs="unbounded"></xs:element>
                            <xs:element name="accesorios" minOccurs="0" type="tresaccesorios"></xs:element>

                        </xs:sequence>
                        <xs:attribute name="matricula" type="xs:string" use="required"></xs:attribute>
                    </xs:complexType>

                </xs:element>

            </xs:sequence>

            <xs:attribute name="provincia" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>

    </xs:element>
    <xs:simpleType name="tipocombustible">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Diesel"></xs:enumeration>
            <xs:enumeration value="gasolina"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipocaballo">
        <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="60"></xs:minInclusive>
            <xs:maxInclusive value="180"></xs:maxInclusive>
        
        </xs:restriction>   
    </xs:simpleType>

    <!-- Año de 4 cifras -->
     <xs:simpleType name="tipoaño">
        <xs:restriction base="xs:unsignedShort">
            <xs:totalDigits value="4"></xs:totalDigits>
            <!-- Permite números de tantas cifras le escribas, en este caso serán 4 por ejemplo-->
        </xs:restriction>
     </xs:simpleType>

     <xs:simpleType name="tipodni">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}[A-Z]"></xs:pattern>
            <!-- Patrón de 8 dígitos y de la A a la Z-->
             </xs:restriction>
     </xs:simpleType>

        <xs:simpleType name="tipoaccesorio">
            <xs:list itemType="xs:string"></xs:list> <!-- crea una lista -->

        </xs:simpleType>

     <xs:simpleType name="tresaccesorios">
        <xs:restriction base="tipoaccesorio">
            <xs:maxLength value="3"></xs:maxLength> <!-- Puedes poner un máximo de 3 palabras en la lista   -->
            </xs:restriction>
        </xs:simpleType>
</xs:schema>